body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.button-delete {
  background-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  color: tomato;
  border: 0;
  border-radius: 2px;
}

.button-delete:hover {
  background-color: tomato;
  color: white;
}

.button-submit {
  border-radius: 2px;
  color: hsl(150, 10%, 20%);

  border: 1px solid hsl(150, 20%, 50%);
  font-size: inherit;
}

.button-submit:hover {
  color: white;
  border: 1px solid white;
  background-color: hsl(150, 50%, 50%);
}

.wholecontainer {
  border: 1px solid hsl(150, 20%, 50%);
  border-radius: 5px 5px 0px 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.wholecontainer-header {
  /* border-bottom: 1px solid grey; */
  background-color: hsl(150, 50%, 50%);
  border-radius: 4px 4px 0px 0px;
}

.header__title {
  text-align: center;
  color: white;
}

@media only screen and (min-width: 420px) {
  .wholecontainer {
    width: 420px;
    /*float: center;*/
  }

  body {
    padding-top: 20vh;
  }
}
.checkbox-unchecked {
  background-color: white;
  height: 1.5rem;
  width: 1.5rem;
}

.checkbox-unchecked:hover {
  background-color: hsl(150, 30%, 50%);
}

.checkbox-checked {
  background-color: hsl(150, 50%, 50%);
  height: 1.5rem;
  width: 1.5rem;
}

.todo-description {
  color: hsl(150, 10%, 20%);
  display: flex;
  align-items: center;
}

.checkbox-checked + .todo-description {
  color: hsl(150, 10%, 70%);
  text-decoration: line-through;
}

.todo-panel {
  /* background-color: rgb(140, 173, 140); */
  border: 1px solid hsl(150, 20%, 50%);
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 2px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2rem 1fr 1.5rem;
}

.todo-panel-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* margin-top: 1em; */
}

.form {
  /* margin: 0.5em; */
  padding: 1.5em;
  padding-top: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 1fr;
  grid-gap: 0.5rem;
}

.todo-input {
  height: 2rem;
  font-size: inherit;
  border: 1px solid hsl(150, 20%, 50%);
  color: hsl(150, 10%, 20%);
  padding-left: 0.5em;
}

.todo-container {
  padding: 1.5em;
}
