
body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.button-delete{
  background-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  color: orangered;
  border: 0;
}

.button-submit {
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 1px 1px;
}

.button-submit:hover {
  border-radius: 2px;
  border: 2px solid black;
}

.wholecontainer {
  border: 1px solid black;
  border-radius: 5px 5px 0px 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.wholecontainer-header {
  border-bottom: 1px solid grey;
  background-color: hsl(90,42%,47%);
  border-radius: 4px 4px 0px 0px;
}

.header__title {
  text-align: center;
  color: hsl(0,0%,97%);
}

@media only screen and (min-width: 420px) {
  .wholecontainer {
    width: 420px;
    /*float: center;*/
  }

  body {
    padding-top: 20vh;
  }
}
.checkbox-unchecked {
  background-color: white;
  height: 1.5rem;
  width: 1.5rem;
}

.checkbox-checked {
  background-color: rgb(140, 173, 140);
  height: 1.5rem;
  width: 1.5rem;
}

.todo-panel {
  background-color: rgb(140, 173, 140);
  border: solid grey;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 2px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2rem 1fr 1.5rem;
  vertical-align: middle;
}

.todo-panel-container {
  list-style-type: none;
  padding: 0;
}

.form {
  margin: 0.5em;
  display: flex;
  justify-content: space-between;
}

.form-textbox {
  border: 1px solid black;
  padding: 0.5em;
  height: 2em;
  width: 25em;
}

.form-label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
