body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.button-delete {
  background-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  color: hsl(0, 100%, 20%);
  border: 0;
}

.button-submit {
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 1px 1px;
}

.button-submit:hover {
  border-radius: 2px;
  border: 2px solid black;
}

.wholecontainer {
  border: 2px solid black;
  border-radius: 5px 5px 0px 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.wholecontainer-header {
  border-bottom: 1px solid grey;
  background-color: hsl(90, 42%, 47%);
  border-radius: 4px 4px 0px 0px;
}

.header__title {
  text-align: center;
  color: rgba(0, 0, 0, 0.883);
}

@media only screen and (min-width: 420px) {
  .wholecontainer {
    width: 420px;
    /*float: center;*/
    margin-bottom: 5vh;
  }

  body {
    padding-top: 20vh;
  }
}

.check-label {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2.5rem 1fr;
}

.check-box {
  position: absolute;
  opacity: 0;
}

.check-mark-box {
  height: 2rem;
  width: 2rem;
  background-color: white;
  border: 1px solid grey;
}

.check-mark-tick {
  opacity: 0;
  position: absolute;
  top: 0.5rem;
  left: 0.25rem;
  /* content: ""; */
  /* display: inline-block; */
  height: 0.6rem;
  width: 1.5rem;
  border-left: 2px solid grey;
  border-bottom: 2px solid grey;

  transform: rotate(-45deg);
}

.check-box:checked + .check-mark-tick {
  opacity: 1;
}

.todo-panel {
  background-color: rgb(140, 173, 140);
  border: solid grey;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 2px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1.5rem;
}

.todo-panel-container {
  list-style-type: none;
  padding: 0;
}

.add-todo-container {
  border-top: 2px solid black;
}

.form {
  margin: 0.5em;
  display: flex;
  justify-content: space-between;
}

.form-textbox {
  border: 1px solid black;
  padding: 0.5em;
  height: 2em;
  width: 25em;
}

.form-label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
